.search-shimmer{
    background: linear-gradient(to right, #f0f0f0 0%, #f8f8f8 20%, #f0f0f0 40%, #f8f8f8 60%, #f0f0f0 80%, #f8f8f8 100%);
    width: 50%;
    height: 4.5rem;
    margin: 2rem auto;
    border-radius: 3rem;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 11rem;
}
.shimmer{
    background-color: rgb(254, 253, 253);
    margin-bottom: 2rem;
    margin-top: 3rem;
    height: 25rem;
    width: 25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shimmer > div:nth-child(1){
    height: 15rem;
    width: 100%;
    background: linear-gradient(to right, #f0f0f0 0%, #f8f8f8 20%, #f0f0f0 40%, #f8f8f8 60%, #f0f0f0 80%, #f8f8f8 100%);
    animation: shimmer 2s linear infinite;
    background-size: 200% 100%;
}
.shimmer > div:nth-child(2){
    margin-top: 1rem;
    height: 3rem;
    width: 70%;
    background: linear-gradient(to right, #f0f0f0 0%, #f8f8f8 20%, #f0f0f0 40%, #f8f8f8 60%, #f0f0f0 80%, #f8f8f8 100%);
}
.shimmer > div:nth-child(3){
    margin-top: 1rem;
    height: 2rem;
    width: 40%;
    background: linear-gradient(to right, #f0f0f0 0%, #f8f8f8 20%, #f0f0f0 40%, #f8f8f8 60%, #f0f0f0 80%, #f8f8f8 100%);
}
@keyframes shimmer {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }